// ----------------- Variables ---------------------------

$fuente1: 'Inter', sans-serif;
$fuente2: 'Open Sans', sans-serif;
$White: rgb(255, 255, 255);
$Black: #000;
$Orange: #FF7F00;
$red: #F44E4E;
$Grey: #353535;
$lightgrey: #7F7F7F;
$breaktablet: 834px;
$breakmid: 780px;
$breakmobile: 520px;


//--------------------- Globales -----------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
    text-decoration: none;
    list-style: none;

}


// Body

body {

    font-size: 16px;
    /* 1 rem = 10px */
    background-color: $Black;
    font-family: $fuente2;
    font-weight: lighter;
    overflow-x: hidden;

    a {
        color: $Black;
    }

    a:visited {
        color: $Black;
    }

}

// ------------------- Header --------------------

header {
    font-family: $fuente1;
    font-weight: lighter;

    .nav {
        width: 100%;
        position: fixed;
        top: 1rem;
        z-index: 999;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;

        &__logo {
            img {
                width: 100%;
            }
        }

        &__menubar {
            i {
                color: $White;
                font-size: 4rem;
            }
        }
    }

    .nav__items {
        position: relative;
        top: 10rem;
        right: 1rem;
        left: 1rem;

        &--list {
            background-color: $White;
            color: $Black;
            text-transform: uppercase;
            font-size: 3.2rem;
            width: 98vw;
            margin: 0 auto;
            opacity: 90%;
            height: 29rem;
            padding: 2rem;
            text-align: right;
            padding-right: 22rem;
            display: none;

            .nav__items--espectacles {

                a {
                    font-size: 1.2rem;
                    line-height: 1.6;
                    color: $lightgrey;
                }

            }

        }

    }

}


// --------------- Main ----------------------

main {


    .Main_heroimage {
        display: flex;
        justify-content: center;
    }

    img {
        object-position: center;
        width: 82%;
        z-index: -1;
    }
}


// Sections

.section__insecto {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 5rem;
    background-color: $Grey;
    color: $White;
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding-top: 6rem;
    padding-bottom: 12rem;
    gap: 16rem;

    p {
        font-size: 1.6rem;
        width: 450px;
        height: auto;

        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.section__agenda {
    background-color: $red;
    width: 100%;

    &--content {
        margin: 0 auto;
        margin-left: calc(40% / 2);
    }

    .caja {
        background-color: $Orange;
        width: 5.6rem;
        height: 5.6rem;

    }

    h2 {
        font-size: 9rem;
        font-weight: bold;
        color: $White;
        padding-left: 6rem;

    }


    .section__agenda--list {
        width: 75%;
        overflow-y: scroll;
        height: 17.5rem;
        padding-left: 6rem;

        li {
            margin-bottom: 2rem;
        }

        a {
            font-size: 1.7rem;
            color: $White;
            line-height: 1.6;

            span {
                font-size: 1.7rem;
                font-weight: bold;
            }
        }

    }


}


.section__espectacles {
    background-color: $White;
    display: flex;

    &--content {
        display: flex;
        flex-direction: column;
        margin-left: calc(40% / 2);
        margin-right: 6rem;

        .caja {
            background-color: $Orange;
            width: 5.6rem;
            height: 5.6rem;
        }

        h3 {
            font-size: 3.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 6rem;

            i {
                font-size: 3rem;
            }
        }

        .description {
            padding-left: 6rem;
            display: flex;
            gap: 2rem;

            p {
                font-size: 1.6rem;
                height: auto;
            }
        }

        .btn__material {
            border: none;
            background-color: $red;
            color: $White;
            padding: .5rem;
            align-self: flex-end;
            width: 24rem;
            height: 3rem;
            font-size: 1.6rem;
            font-weight: bold;

            i {
                font-size: 1.6rem;
                margin-right: 1rem;
            }

        }

        .ficha-artistica {
            padding-left: 6rem;
            font-size: 1.5rem;

            span {
                font-size: 1.6rem;
                font-weight: bold;
            }
        }

    }
}


.section__covers {

    img {
        width: 100%;
    }
}



// ---------------Breakpoints ------------------------

@media screen and (max-width: $breakmid) {

    .section__insecto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        padding: 5rem;
        background-color: $Grey;
        color: $White;
        width: auto;
        height: auto;
        margin-top: 1rem;
        padding-top: 6rem;
        padding-bottom: 12rem;
        gap: 4rem;

        img {
            width: 50%;
        }

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width: $breaktablet) {


    .section__agenda {
        width: 100%;
        height: 52rem;

        &--content {
            margin-left: 0rem;
        }
    }

    .section__espectacles {
        background-color: $White;
        display: flex;


        &--content {
            margin-left: 0rem;
        }

    }
}


@media screen and (max-width: $breakmobile) {

    .caja {
        display: none;
    }

    .section__agenda {
        width: 100%;
        height: 52rem;


        .section__agenda--list {
            margin-top: 6rem;
            width: 90%;
            overflow-y: scroll;

        }

        &--content {
            padding-top: 5rem;
        }
    }


    .section__espectacles {
        display: flex;

        &--content {
            padding-top: 3rem;
            margin-right: 4rem;

            h3 {
                padding-left: 5rem;
                padding-top: 3rem;
            }

            .description {
                padding-top: 3rem;
                padding-left: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                p {
                    font-size: 1.6rem;
                    height: auto;
                }
            }

            .btn__material {
                border: none;
                background-color: $red;
                color: $White;
                padding: .5rem;
                align-self: flex-end;
                margin-top: 3rem;
                width: 34rem;
                height: 5.6rem;
                font-size: 2rem;
                font-size: 1.6rem;
                font-weight: bold;

                i {
                    font-size: 2rem;
                    margin-right: 1rem;
                }

            }

            .ficha-artistica {
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }
    }
}