* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 16px;
  /* 1 rem = 10px */
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  overflow-x: hidden;
}
body a {
  color: #000;
}
body a:visited {
  color: #000;
}

header {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}
header .nav {
  width: 100%;
  position: fixed;
  top: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
header .nav__logo img {
  width: 100%;
}
header .nav__menubar i {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}
header .nav__items {
  position: relative;
  top: 10rem;
  right: 1rem;
  left: 1rem;
}
header .nav__items--list {
  background-color: rgb(255, 255, 255);
  color: #000;
  text-transform: uppercase;
  font-size: 3.2rem;
  width: 98vw;
  margin: 0 auto;
  opacity: 90%;
  height: 29rem;
  padding: 2rem;
  text-align: right;
  padding-right: 22rem;
  display: none;
}
header .nav__items--list .nav__items--espectacles a {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #7F7F7F;
}

main .Main_heroimage {
  display: flex;
  justify-content: center;
}
main img {
  object-position: center;
  width: 82%;
  z-index: -1;
}

.section__insecto {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 5rem;
  background-color: #353535;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding-top: 6rem;
  padding-bottom: 12rem;
  gap: 16rem;
}
.section__insecto p {
  font-size: 1.6rem;
  width: 450px;
  height: auto;
}
.section__insecto p span {
  font-size: 1.5rem;
  font-weight: bold;
}

.section__agenda {
  width: 100%;
  height: 52rem;
  background-color: #F44E4E;
}
.section__agenda--cajas {
  width: 312px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.section__agenda--cajas .caja1 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
}
.section__agenda--cajas .caja2 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
}
.section__agenda--cajas .caja3 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
}
.section__agenda--column {
  position: relative;
  top: -40rem;
  left: 32rem;
  width: 80%;
}
.section__agenda--column .section__agenda--titulo h2 {
  font-size: 9rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-bottom: 4.8rem;
}
.section__agenda--column .section__agenda--list {
  width: 80%;
  overflow-y: scroll;
  height: 17.5rem;
  top: 29rem;
}
.section__agenda--column .section__agenda--list ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.section__agenda--column li {
  margin-bottom: 2rem;
}
.section__agenda--column a {
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  line-height: 1.6;
}
.section__agenda--column a span {
  font-size: 1.7rem;
  font-weight: bold;
}

.section__espectacles {
  background-color: rgb(255, 255, 255);
  display: flex;
}
.section__espectacles--cajas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 326rem;
}
.section__espectacles--cajas .caja1 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
}
.section__espectacles--cajas .caja2 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
  position: relative;
  top: -15rem;
}
.section__espectacles--cajas .caja3 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
}
.section__espectacles--cajas .caja4 {
  background-color: #FF7F00;
  width: 5.6rem;
  height: 5.6rem;
}
.section__espectacles .texts {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 4rem;
  color: #000;
}
.section__espectacles .texts h3 {
  font-size: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.section__espectacles .texts h3 i {
  font-size: 3rem;
}
.section__espectacles .texts .description {
  display: flex;
  gap: 2rem;
  margin-bottom: 8rem;
}
.section__espectacles .texts .description p {
  font-size: 1.6rem;
  height: auto;
}
.section__espectacles .texts .btn__material {
  border: none;
  background-color: #F44E4E;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  align-self: flex-end;
  width: 24rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.section__espectacles .texts .btn__material i {
  font-size: 1.6rem;
  margin-right: 1rem;
}
.section__espectacles .texts .ficha-artistica {
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}
.section__espectacles .texts .ficha-artistica span {
  font-size: 1.6rem;
  font-weight: bold;
}

.section__covers img {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .section__insecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    padding: 5rem;
    background-color: #353535;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding-top: 6rem;
    padding-bottom: 12rem;
    gap: 4rem;
  }
  .section__insecto img {
    width: 50%;
  }
  .section__insecto p {
    width: 100%;
  }
}
@media screen and (max-width: 834px) {
  .section__agenda {
    width: 100%;
    height: 52rem;
    background-color: #F44E4E;
  }
  .section__agenda--cajas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .section__agenda--column {
    position: relative;
    top: -40rem;
    left: 10rem;
  }

  .section__espectacles {
    background-color: rgb(255, 255, 255);
    display: flex;
  }
  .section__espectacles--cajas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 6rem;
  }
  .section__espectacles .texts {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 4rem;
    color: #000;
  }
  .section__espectacles .texts .description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
  }
  .section__espectacles .texts .description p {
    font-size: 1.6rem;
    height: auto;
  }
}
@media screen and (max-width: 520px) {
  .section__agenda {
    width: 100%;
    height: 52rem;
    background-color: #F44E4E;
  }
  .section__agenda--cajas {
    display: none;
  }
  .section__agenda--column {
    position: relative;
    top: 10rem;
    left: 5rem;
  }
  .section__agenda--column .section__agenda--list {
    width: 100%;
    overflow-y: scroll;
    height: 17.5rem;
    top: 29rem;
  }

  .section__espectacles {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 2rem;
  }
  .section__espectacles--cajas {
    display: none;
  }
  .section__espectacles--body .texts {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section__espectacles--body .texts .description {
    margin-bottom: 2rem;
  }
  .section__espectacles--body .texts .btn__material {
    border: none;
    background-color: #F44E4E;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    align-self: center;
    width: 33rem;
    height: 5.6rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .section__espectacles--body .texts .btn__material i {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .section__espectacles--body .texts .ficha-artistica {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=stile.css.map */